<div class="mt-4">
    <form method="POST" action="/courses/handleActions">
        {{#if countDeleted}}
            <div class="mb-4 trash-courses">
                <a style="display: inline-block;" class="nav-link" href="/me/trashCourses">Trash ({{countDeleted}})</a>
            </div>
        {{/if}}
        <div class="mt-4 mb-4 d-flex align-items-center">
            <div class="p-2 flex-fill form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="check-all-course">
                <label class="form-check-label" for="check-all-course">Choose All</label>
            </div>
            <select class="p-2 flex-fill custom-select" id="inputGroupSelect02" name="action" required>
                <option value="">--Action--</option>
                <option value="delete">Delete</option>
            </select>
            <button type="submit" class="p-2 flex-fill btn btn-primary btn-submit-form" disabled>Do it</button>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"># </th>
                    <th scope="col">STT</th>
                    <th scope="col">videoId</th>
                    <th scope="col" >
                        <p style="display:initial;">description</p>
                        {{{sortTable 'description' _sort}}}
                    </th>
                    <th scope="col" class="d-flex align-items-center">
                        <p>name</p>
                        {{{sortTable 'name' _sort}}}
                    </th>
                    <th scope="col">function</th>
                </tr>
            </thead>
            <tbody>
                {{#each courses}}
                    <tr>
                        <th scope="row">
                            <input name="courseId" value="{{this._id}}" type="checkbox" class="item-inp-course">
                        </th>
                        <th scope="row">{{showStt @index}}</th>
                        <td>{{this.videoId}}</td>
                        <td>{{this.description}}</td>
                        <td>{{this.name}}</td>
                        <td class="btn-list-update">
                            <a href="/courses/{{this._id}}/update">
                                <button type="button" class="btn btn-primary">update</button>
                            </a>
                            <a href="#" id="{{this._id}}" class="tagA-dele" data-toggle="modal" data-target="#dele-course">
                                <button type="button" class="btn btn-secondary">delete</button>
                                </a>
                        </td>
                    </tr>
                {{else}}
                    <tr>
                        <td colspan="5" class="text-center">
                            <h3>You dont have course? </h3>
                            <a href="/courses/create">create course</a>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </form>
</div>

{{!-- modal dele course --}}
<div class="modal fade" id="dele-course" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Course</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you delete course ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-dele" data-dismiss="modal">Delete</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{{!-- form dele-course --}}
<form id="form-dele" method="post"></form>

<script>
    // js thuan
    const btns = document.querySelectorAll('.btn-dele')
    const tagA = document.querySelectorAll('.tagA-dele')
    const formDele = document.querySelector('#form-dele')
    let id

    const getId = function(e){
        id = this.id;
    }
    const handleDelete = ()=>{
        formDele.action = `/courses/${id}/sortDelete?_method=DELETE`
        formDele.submit()
    }

    tagA.forEach(tag => {
        tag.addEventListener('click',getId)
    })
    btns.forEach(btn => {
        btn.addEventListener('click',handleDelete)
    })

    // add jquery
    document.addEventListener('DOMContentLoaded',function(){

        const listInputCheckCourse = $('input[name="courseId"]')
        const btnChooseAllCourse = $('#check-all-course')
        const btnFormSubmit = $('.btn-submit-form')

        btnChooseAllCourse.click(function(){
            const isChecked = $(this).prop('checked');
            listInputCheckCourse.prop('checked',isChecked);
            // dung property de set value bang true false
            // dung attri add attri or removeattri
            handleSubmitForm()
        })

        listInputCheckCourse.change(function(){
            const lengthChecked = $( 'input[name="courseId"]:checked' ).length;
            const isCondition = listInputCheckCourse.length === lengthChecked;
            btnChooseAllCourse.prop('checked',isCondition);
            handleSubmitForm()
        })

        function handleSubmitForm(){
            const lengthChecked = $( 'input[name="courseId"]:checked' ).length;
            if(lengthChecked > 0){
                btnFormSubmit.removeAttr('disabled')
            }else{
                btnFormSubmit.attr('disabled',true)
            }
        }

    })
</script>