<div class="content-info">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8">
                <div class="info-customer">
                    <div class="toast">
                        <h4 class="title-thank">Cảm ơn bạn đã đặt hàng</h4>
                        <p class="remind" style="color: #007bff;">Một email xác nhận đã được gửi tới <span>{{dataOrder.email}}</span>.Xin vui lòng kiểm tra email của bạn</p>
                    </div>
                    <div class="container" style="background-color: #f8f9fa;">
                        <div class="row">
                            <div class="col">
                                <div class="wrap">
                                    <h5>Thông tin mua hàng</h5>
                                    <p class="name-thank">{{dataOrder.fullName}}</p>
                                    <p class="email-thank">{{dataOrder.email}}</p>
                                    <p class="tel-thank">{{dataOrder.phone}}</p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="wrap">
                                    <h5>Địa chỉ nhận hàng</h5>
                                    <p>{{dataOrder.fullName}}</p>
                                    <p>{{dataOrder.address}}</p>
                                    <p>
                                        <span>{{dataOrder.commune}}</span>, 
                                        <span>{{dataOrder.district}}</span>, 
                                        <span>{{dataOrder.provinces}}</span>
                                    </p>
                                    <p>{{dataOrder.phone}}</p>
                                </div>
                            </div>
                            <div class="w-100"></div>
                            <div class="col">
                                <div class="wrap">
                                    <h5>Phương thức thanh toán</h5>
                                    <p class="method-payment">{{dataOrder.payment}}</p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="wrap">
                                    <h5>Phương thức vận chuyển</h5>
                                    <p>COD Cash On Delivery</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
                <div class="order-customer">
                    <h4 class="title-order">Đơn hàng</h4>
                    <ul class="list-order" style="padding: 0; margin-bottom: 20px">
                        {{#each dataOrder.products}}
                            <li class="list-order-item">
                                <div class="wrap-img-product">
                                    <img style="width: 100%;" src="{{LOCALHOST}}/img/{{this.image}}" alt="{{this.name}}">
                                </div>
                                <div class="wrap-info-product">
                                    <h5 class="wrap-info-product-title">{{this.name}}</h5>
                                    <p style="margin: 0;">
                                        <span>{{this.color}}</span> / <span>{{this.size}}</span>
                                    </p>
                                </div>
                                <div class="wrap-price-product">
                                    <p style="margin: 0;" class="wrap-price-product-pricePro">{{this.pricePro.price}}</p>
                                    <p style="margin: 0;" class="wrap-price-product-Qty">many: {{this.quatity}}</p>
                                </div>
                            </li>
                        {{else}}
                            <p>no order</p>
                        {{/each}}
                    </ul>
                    <div class="total-price-order">
                        <p class="price-no-ship">Tạm tính: <span>{{dataOrder.totalPrice}}</span></p>
                        <p class="price-ship">Phí vận chuyển: <span>{{dataOrder.shipping}}</span></p>
                    </div>
                    <div class="total-price-order-ship">
                        <p class="success-total">Tổng cộng: <span>{{renderSuccessPrice dataOrder.totalPrice dataOrder.shipping}}</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="/products/allItem" style="display: flex; justify-content: center; align-items: center; margin-top: 40px">
        <button type="button" class="btn btn-primary btn-lg">
            Tiep tuc mua hang
        </button>
    </a>
</div>

<script>
    window.addEventListener('DOMContentLoaded',function(){
        window.localStorage.removeItem('products')
    })
</script>